{% extends "base/base.html" %}
{% block title %}Roomie Radar{% endblock %}

{% block start %}
<div style="text-align:center; margin-top:100px;">
    <h2>Welcome to Roomie Radar</h2>
    <p>Please choose an option</p>

    <div style="margin-top:40px;">
        <a href="/rooms/hostel-only/">
            <button style="padding:15px 25px; font-size:16px;">
                Book Hostel Only
            </button>
        </a>

        <br><br>

        <a href="/rooms/with-roommate/">
            <button style="padding:15px 25px; font-size:16px;">
                Book Hostel with Roommate
            </button>
        </a>
    </div>
</div>
{% endblock %}
